# USAGE SUMMARY
#
# 1. Copy .debug.env.template file by running below command:
#       cp .debug.env.template .debug.env
# 2. Fill blanks in .debug.env file
# 3. Any value not updated here will be retrieved from the Key Vault.
#    To override a value from the Key Vault, update the corresponding environment variable in this file.


# Azure Key Vault (update this)
KEYVAULT-URI=

IMAGE-ANALYZER-APP-NAME=imagedescriberskill

# Must be consistent with the Dockerfile EXPOSE port if deployed as a container.
SERVICE-HOST=localhost
SERVICE-PORT=6004

# Azure Open AI (Leave blank if using Key Vault)
AZURE-OPENAI-ENDPOINT=

IMAGE-ANALYSIS-CAPTION-LANGUAGE=en
IMAGE-ANALYSIS-DEFAULT-ANALYZER-SERVICE=openai

# Azure App Insights (Leave blank if using Key Vault)
APPLICATION-INSIGHTS-CNX-STR=

ENVIRONMENT="DEV"

# Azure Storage Settings (Leave blank if using Key Vault)
AZURE-STORAGE-ACCOUNT-NAME=
AZURE-STORAGE-BLOB-CONNECTION-STRING=
AZURE-STORAGE-IMAGE-CONTAINER=