# USAGE SUMMARY
#
# 1. Copy .debug.env.template file by running below command:
#       cp .debug.env.template .debug.env
# 2. Fill blanks in .debug.env file
# 3. Any value not updated here will be retrieved from the Key Vault.
#    To override a value from the Key Vault, update the corresponding environment variable in this file.


# Keyvault URI (update this)
KEYVAULT-URI=

RECOMMENDER-APP-NAME=RecommenderSkill

# Must be consistent with the Dockerfile EXPOSE port.
SERVICE-HOST=0.0.0.0
SERVICE-PORT=6003

# Azure OpenAI (Leave blank if using Key Vault)
AZURE-OPENAI-ENDPOINT=

# Application Insights connection string (Leave blank if using Key Vault)
APPLICATION-INSIGHTS-CNX-STR=

ENVIRONMENT="DEV"