# Packages needed to call AOAI API with the OpenAI Python API
openai==1.12.0

# Packages needed to run the notebook samples
jupyter

# Other packages needed to run the notebook samples
requests
pytz
pandas
tenacity
azure-search-documents==11.4.0b8