# USAGE SUMMARY
#
# 1. Copy .debug.env.template file running:
#       cp .debug.env.template .debug.env
# 2. Fill blanks in .debug.env file


# Azure OpenAI 
AZURE-OPENAI-SERVICE-1-ENDPOINT=""
AZURE-OPENAI-SEED=""

# Bot Config
CONVERSATION-DEPTH="2"

# Keyvault
KEYVAULT-URI=""

# Azure Blob Storage
AZURE-STORAGE-ACCOUNT=""
AZURE-BLOB-CONTAINER-NAME-E2E-TEST=""

# Session manager
SESSION-MANAGER-URI=""