# USAGE SUMMARY
#
# 1. Copy .debug.env.template file by running below command:
#       cp .debug.env.template .debug.env
# 2. Fill blanks in .debug.env file
# 3. Any value not updated here will be retrieved from the Key Vault.
#    To override a value from the Key Vault, update the corresponding environment variable in this file.


# Azure Key Vault (Update this)
KEYVAULT-URI=

# App Settings
SERVICE-HOST=localhost
SERVICE-PORT=6001

# App Insights (Leave blank if using Key Vault)
APPLICATION-INSIGHTS-CNX-STR=""

# OpenAI Settings (Leave blank if using Key Vault)
AZURE-OPENAI-ENDPOINT=
AZURE-OPENAI-EMBEDDINGS-ENGINE-NAME=text-embedding-ada-002

# Azure Document Intelligence Settings (Leave blank if using Key Vault)
AZURE-DOCUMENT-INTELLIGENCE-ENDPOINT=
AZURE-DOCUMENT-INTELLIGENCE-KEY=
AZURE-DOCUMENT-INTELLIGENCE-MODEL=

DEFAULT-DOCUMENT-LOADER=azuredocumentintelligence # azuredocumentintelligence | langchain
DEFAULT-DOCUMENT-SPLITTER=plaintext # plaintext | markdown
MARKDOWN-HEADER-SPLIT-CONFIG=Header 1 | Header 2 | Header 3 # MUST BE ORDERED
DOCUMENT-MAX-CHUNK-SIZE=8000
MARKDOWN-CONTENT-INCLUDE-IMAGE-CAPTIONS=TRUE

# Azure AI Search Settings 
AZURE-SEARCH-ENDPOINT=
AZURE-DOCUMENT-SEARCH-INDEX-NAME=default

# Azure Storage Settings (Leave blank if using Key Vault)
AZURE-STORAGE-ACCOUNT-NAME=
AZURE-STORAGE-BLOB-CONNECTION-STRING=

# Redis
REDIS-HOST=localhost
REDIS-PORT=6379
REDIS-PASSWORD=redis_password
REDIS-DOCUMENT-PROCESSING-TASK-QUEUE-CHANNEL=document-processing-channel
DOCUMENT-PROCESSING-MAX-WORKER-THREADS=5
REDIS-CATALOG-PROCESSING-TASK-QUEUE-CHANNEL=catalog-processing-channel
CATALOG-PROCESSING-MAX-WORKER-THREADS=1