
Basic_Samples/Embeddings/dotnet/csharp/fine_food_reviews_with_embeddings_1k.csv
**/qdrant_storage/*

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/

.vs/

**/appsettings.[Dd]evelopment.json
Basic_Samples/Embeddings/dotnet/csharp/query_rewriting_pack/

# Environments
.env
.venv
env/
venv/
ENV/
