azure-identity==1.13.0b3
Flask==2.2.5
langchain==0.0.139
openai==0.27.4
azure-search-documents==11.4.0b3
azure-storage-blob==12.14.1
azure-keyvault-secrets==4.7.0
python-dotenv==1.0.0
tenacity==8.2.2
pyodbc==4.0.39
opencensus-ext-azure==1.1.9
opencensus==0.11.2
pandas==2.0.3
tiktoken==0.4.0
azure-cosmos==4.4.0
azure-keyvault==4.2.0
.