.
azure-cosmos==4.4.0
azure-identity==1.13.0b3
azure-keyvault==4.2.0
azure-keyvault-secrets==4.7.0
azure-search-documents==11.4.0b6
azure-storage-blob==12.14.1
Flask==2.2.2
langchain==0.0.139
openai==0.27.4
opencensus==0.11.2
opencensus-ext-azure==1.1.9
pandas==2.0.3
pyodbc==4.0.39
pytest==7.4.0
python-dotenv==1.0.0
retry==0.9.2
tenacity==8.2.2
tiktoken==0.4.0
Werkzeug==2.2.2
