# App Insights
APPLICATION-INSIGHTS-CNX-STR=

# Keyvault
KEYVAULT-URI=

# App settings
SERVICE-HOST=0.0.0.0
SERVICE-PORT=6002
                
# OpenAI Settings
AZURE-OPENAI-SERVICE-1-ENDPOINT=
AZURE-OPENAI-EMBEDDINGS-ENGINE-NAME=

# Azure AI Search Settings
AZURE-SEARCH-ENDPOINT=

# Configuration Service Settings
CONFIGURATION-SERVICE-URI=
REDIS-HOST="localhost"
REDIS-PORT="6379"
REDIS-PASSWORD="redis_password"