# USAGE SUMMARY  
#  
# 1. Create a copy of the `.debug.env.template` file by running:  
#       cp .debug.env.template .debug.env  
# 2. Fill in the blank values in the `.debug.env` file.  
# 3. Any value left blank will be retrieved from the Key Vault.  
#    To override a value from the Key Vault, define it in this file.  

# Azure Key Vault (Update this)
KEYVAULT-URI=

# App Insights (Leave blank if using Key Vault)
APPLICATION-INSIGHTS-CNX-STR=

# App settings
SERVICE-HOST=0.0.0.0
SERVICE-PORT=6002
                
# OpenAI Settings
AZURE-OPENAI-ENDPOINT=
AZURE-OPENAI-EMBEDDINGS-ENGINE-NAME=text-embedding-ada-002

# Azure AI Search Settings (Leave blank if using Key Vault)
AZURE-SEARCH-ENDPOINT=

# Configuration Service Settings
CONFIGURATION-SERVICE-URI=http://localhost:5003

# Redis settings
REDIS-HOST="localhost"
REDIS-PORT="6379"
REDIS-PASSWORD="redis_password"

# Azure Storage Settings (Leave blank if using Key Vault)
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_IMAGE_CONTAINER=