@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to this playground!</h1>

<div class="description">
    <p></p>
    <p>
        This <bold>app</bold> brings together different products available within .NET.
    </p>
    <p>
        You can use this as a playground to learn more about teams chatbots, .NET aspire, OpenAI client and some relevant Azure services.
    </p>
    <p>
        To get started, you may want to look swagger page for the ApiService and test some of its endpoints.
    </p>
    <p>
        The rules page, describes the default system rule set for the chat bot that is supposed to help with triaging .NET related issues on dotnet/runtime repository.
    </p>
    <p>
        The README.md page for the ApiService project explains the required setup in order to get the right models prepared for this teams chatbot.
    </p>
</div>