# USAGE SUMMARY  
#  
# 1. Create a copy of the `.debug.env.template` file by running:  
#       cp .debug.env.template .debug.env  
# 2. Fill in the blank values in the `.debug.env` file.  
# 3. Any value left blank will be retrieved from the Key Vault.  
#    To override a value from the Key Vault, define it in this file.  

# Azure Key Vault (Update this)
KEYVAULT-URI=

# Azure Application Insights (Leave blank if using Key Vault)
APPLICATION-INSIGHTS-CNX-STR=""

# Azure OpenAI (Leave blank if using Key Vault)
AZURE-OPENAI-ENDPOINT=""


# Skills and Services - Paths of Skills and Services
SEARCH-SKILL-URI="http://localhost:6002"
RECOMMENDER-SKILL-URI="http://localhost:6003"
IMAGE-DESCRIBER-SKILL-URI="http://localhost:6004"
CONFIGURATION-SERVICE-URI="http://localhost:5003"

# Azure Cache for Redis
REDIS-HOST="localhost"
REDIS-PORT="6379"
REDIS-PASSWORD="redis_password"

# Redis for messaging
REDIS-MESSAGING-HOST="localhost"
REDIS-MESSAGING-PORT="6379"
REDIS-MESSAGING-PASSWORD="redis_password"

MULTIMODAL-BOT-REDIS-TASK-QUEUE-CHANNEL="Retail_Task_Queue"
MULTIMODAL-BOT-REDIS-MESSAGE-QUEUE-CHANNEL="Retail_Message_Queue"

ORCHESTRATOR-CONCURRENCY="1"

# Host and port of the service
SERVICE-HOST="localhost"
SERVICE-PORT=5102
ENVIRONMENT="DEV"
