azure-ai-contentsafety==1.0.0b1
azure-identity==1.16.0
Quart==0.19.9
openai==1.55.3
azure-search-documents==11.4.0b6
azure-storage-blob==12.14.1
azure-keyvault-secrets==4.7.0
python-dotenv==1.0.0
tenacity==8.2.2
opencensus-ext-azure==1.1.9
opencensus==0.11.2
tiktoken==0.8.0
azure-keyvault==4.2.0
jsonschema[format]==4.18.6
Hypercorn==0.14.4
PyYAML==6.0.1
iso8601==2.0.0
pydantic==2.4.2
aiohttp==3.9.1
redis==5.0.4