# USAGE SUMMARY
#
# 1. Copy .debug.env.template file running:
#       cp .debug.env.template .debug.env
# 2. Fill blanks in .debug.env file

# Azure Key Vault
KEYVAULT-URI=

# Azure Application Insights
APPLICATION-INSIGHTS-CNX-STR=""

# Azure OpenAI
AZURE-OPENAI-ENDPOINT=""

# Skills and Services - Paths of Skills and Services
SEARCH-SKILL-URL="http://localhost:6002"
CONFIGURATION-SERVICE-URL="http://localhost:5003"

# Azure Cache for Redis
REDIS-HOST="localhost"
REDIS-PORT="6379"
REDIS-PASSWORD="redis_password"

# Redis for messaging
REDIS-MESSAGING-HOST="localhost"
REDIS-MESSAGING-PORT="6379"
REDIS-MESSAGING-PASSWORD="redis_password"

REDIS-TASK-QUEUE-CHANNEL="RAG_Task_Queue"
REDIS-MESSAGE-QUEUE-CHANNEL="RAG_Message_Queue"

ORCHESTRATOR-CONCURRENCY="1"

# Host and port of the service
SERVICE-HOST="localhost"
SERVICE-PORT="5002"
ENVIRONMENT="DEV"