azure-cosmos==4.7.0
azure-keyvault==4.2.0
python-dotenv==1.0.0
azure-identity==1.13.0b3
Quart==0.19.9
quart-cors==0.7.0
PyYAML==6.0.1
uvicorn==0.20.0
opencensus-ext-azure==1.1.9
opencensus==0.11.2
pydantic==2.7.1
aiohttp==3.9.1
aiohttp_cors==0.7.0