KEYVAULT-URI=

# Azure OpenAI 
AZURE-OPENAI-ENDPOINT=""
AZURE-OPENAI-DEPLOYMENT-NAME=

SESSION-MANAGER-URI=
APPLICATION-INSIGHTS-CNX-STR=

# AIFoundry Configuration (only required for adversarial simulator)
AZURE-SUBSCRIPTION-ID=
AZURE-RESOURCE-GROUP=
AZURE-PROJECT-NAME=