# USAGE SUMMARY
#
# 1. Copy .env.template file by running below command:
#       cp .env.template .env
# 2. Fill blanks in .env file

# Azure
# AZURE-TENANT-ID=""

# Azure OpenAI 
AZURE-OPENAI-GPT4-SERVICE=""
AZURE-OPENAI-GPT4-API-KEY=""

AZURE-OPENAI-CLASSIFIER-SERVICE=""
AZURE-OPENAI-CLASSIFIER-API-KEY=""

AZURE-OPENAI-EMBEDDINGS-SERVICE=""
AZURE-OPENAI-EMBEDDINGS-API-KEY=""

# Azure Cognitive Search
AZURE-SEARCH-SERVICE=""
AZURE-SEARCH-INDEX=""
AZURE-SEARCH-KEY=""
KB-FIELDS-CONTENT="content"
KB-FIELDS-CATEGORY="category"
KB-FIELDS-SOURCEPAGE="sourcepage"
SEARCH-SKIP-VECTORIZATION=""

# Azure Blob Storage
AZURE-STORAGE-ACCOUNT=""
AZURE-STORAGE-CONTAINER="content"

# Azure Form Recognizer
AZURE-FORMRECOGNIZER-SERVICE=""

# Azure Key Vault
KEYVAULT_URI=""

# Azure Application Insights
APPLICATION-INSIGHTS-CNX-STR=""

# Data Service
DATA-SERVICE-URI="http://localhost:5001"

# SQL Connection String
SQL-CONNECTION-STRING=""

# Threshold percentage for search results
SEARCH_THRESHOLD_PERCENTAGE="50"

# Ratio of triming search index to conversation history
RATIO_OF_INDEX_TO_HISTORY="5"