VITE_BACKEND_URI="http://localhost:5000" #in prod: appGateway endpoint, locally: set to session manager "http://localhost:5000"
VITE_SPEECH_INPUT_LOCALES="en-US,ar-AE" # comma separated list of supported locales
VITE_SPEECH_OUTPUT_MAPPING="en-US:en-US-BrianMultilingualNeural,ar-AE:ar-AE-HamdanNeural" # mapping of supported locales to speech synthesis voices
VITE_CONVERSATION_SIMULATOR_URI="http://localhost:6001" # locally: set to conversation simulator "http://localhost:5001"