# Rename this file to .env and fill in the values

AZURE_DEVOPS_ORG_URL=https://dev.azure.com/<org>/
AZURE_DEVOPS_PROJECT=<project>
AZURE_DEVOPS_PAT=<personal_access_token>

AZURE_AI_PROJECT_ENDPOINT=""
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME=""
APPLICATION_INSIGHTS_CONNECTION_STRING=""

SHAREPOINT_CONNECTION_NAME=""