./app
azure-ai-formrecognizer==3.2.1
azure-cosmos==4.4.0
azure-identity==1.13.0b3
azure-keyvault==4.2.0
azure-mgmt-sql==3.0.1
azure-search-documents==11.4.0b6
azure-storage-blob==12.14.1
openai==0.27.4
opencensus==0.11.2
opencensus-ext-azure==1.1.9
pandas==2.0.1
pyodbc==4.0.39
pypdf==3.5.0
pytest==7.4.0
python-dotenv==1.0.0
PyYAML==6.0
retry==0.9.2
tiktoken==0.4.0
