# USAGE SUMMARY
#
# 1. Copy .env.template file running:
#       cp .env.template .env
# 2. Fill blanks in .env file

# Azure Cosmos DB
AZURE-COSMOS-ENDPOINT=""
AZURE-COSMOS-KEY=""
AZURE-COSMOS-DB-NAME="aoai-search-demo-cosmos-db"
AZURE-COSMOS-DB-ENTITIES-CONTAINER-NAME="entities"
AZURE-COSMOS-DB-PERMISSIONS-CONTAINER-NAME="permissions"
AZURE-COSMOS-DB-CHAT-SESSIONS-CONTAINER-NAME="chat_sessions"

# Azure Key Vault
KEYVAULT_URI=""

# Azure Application Insights
APPLICATION-INSIGHTS-CNX-STR=""

# Data Service
DATA-SERVICE-HOST="localhost"
DATA-SERVICE-PORT="5001"